{% extends "includes/base.html" %}


{% block style %}
{% include "includes/style.html" %}
{% endblock %}
{% block menu %}
{% include "includes/link.html" %}
{% endblock %}
{% block body %}
<h1>Добавление студента на курс</h1>
<form method="post">
    <select size="3" name="course_name">
        {% for item in courses %}
        <option value="{{item.name}}">{{item.name}}</option>
        {% endfor %}
    </select>
    <select size="3" name="student_name">
        {% for item in students %}
        <option value="{{item.name}}">{{item.name}}</option>
        {% endfor %}
    </select>
    <button type="submit">Записать</button>

</form>
<h3><a href={{ url.student_list }}>К списку студентов</a></h3>
{% endblock %}